# /requirements.txt
fastapi
uvicorn
boto3
python-dotenv
pydantic
smtplib
email
streamlit
pandas
numpy
Pillow
opencv-python
scipy
scikit-learn
requests
python-dateutil
pytest
pytest-cov
flake8
build
twine
email-validator==2.1.1
# ML packages for emotion detection
fer==22.5.1
torch
torchvision
mtcnn-pytorch
tensorflow==2.13.1
dlib
face-recognition
